body {
	color: #444;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
	background-color: #e2e1e0;
	width: 500px;
}

body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  background: #ddd;
}
 
body::-webkit-scrollbar-thumb {
  background: #666; 
}

a{
	color:brown;
}

a:link {
    text-decoration:none;
}

a:visited {
    text-decoration:none;
}


a:active {
    text-decoration:none;
}

.game-background {
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center;
}

#Melee{
	background-image:url(meleeBackground.png);
}

#ssb64{
	background-image:url(64Background.png);
}

#Brawl{
	background-image:url(brawlBackground.png);
}

#ProjectM{
	background-image:url(pmBackground.png);
}

#smash4{
	background-image:url(3dsBackground.png);
}

#smash4wiiu{
	background-image:url(wiiuBackground.png);
}

a:hover:before {
	border: solid;
	border-color: black transparent;
	border-width: 0px 10px 10px 10px;
	bottom: 20px;
	content: "";
  left: 20px;
  top: 100%;
  position: absolute;
	z-index: 99;
}

a[alt]:hover:after {
  content: attr(alt);
  z-index: 1;
  padding: 4px 8px;
  max-width: 400px;
  min-width: 100px;
  min-height: 30px;
  word-wrap: break-word;
  
  position: absolute; 
  float:left;
  clear:both;
  left: 10px;
  top: 120%;
 
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
  color: white;
  background-color:black;
}

.stream-table{
	display: grid;
	grid-template-columns: 90px auto 70px;
	grid-auto-rows: 50px;
	grid-row-gap: 5px;
}

.tdlink{
	line-height: 50px;
	padding-left: 10px;
}

.stream-row-link{
	position: relative;
}
.stream-row-viewers{
	line-height: 50px;
}

#game-choice-list{
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  width: calc(100% - 90px);
}
.game-choice{
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}
.game-choice:hover {
  border-bottom: 3px solid black;
  margin-bottom: -3px;
}

.game-choice.active {
  border-bottom: 3px solid black;
  margin-bottom: -3px;
}

.stream-header{}

.stream-thumbnail {
	/* margin-top: 5px; */
}

.odd {
}

.even {
  background-color: #d8d7d7;
}

#settings {
  width: 90px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

#settings-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #e2e1e0;
  z-index: 999;
}



.gear {
  display: inline-block;
  position: relative;
  margin: calc(1em / 5);
  width: 1em;
  height: 1em;
  background-color: #e2e1e0;
  border-radius: 50%;
  border: calc(1em / 3.5) solid gray;
  box-sizing: border-box;
} 
.gear:before, .gear:after {
  content: '×';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: "times new roman";
  font-weight: bold;
  font-size: calc(1em * 2.5);
  color: gray;
}
  
.gear:after {
  transform: translate(-50%,-50%) rotate(45deg);
}
.gear:hover {
  cursor: pointer;
}
.gear:hover:after {
  transition: all 0.250s linear;
  transform: translate(-50%,-50%) rotate(90deg);
}
.gear:hover::before {
  transition: all 0.250s linear;
  transform: translate(-50%,-50%) rotate(45deg);
}